/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Montserrat', sans-serif;
}

/* Funzioni macrostruttura */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}



.flex-item {
    display: flex;
}


/* Section */

.s-topbar {
    width: 100vw;
    height: 50px;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;

}


.s-taskbar {
    width: 100vw;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;

}

.s-sidebar {
    width: 150px;
    max-height: 100%;
}

.s-main {
    width: 100%;

    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;

    max-width: 1400px;

}

/* Container Pincipali */


.c-topbar {
    width: 100vw;

    padding: 10px;
 justify-content:end;

    

}

.c-taskbar {

width: 100vw;
z-index: 999;




}

.c-sidebar {
    width: 150px;
    height: 100%;
    z-index: 2;


}

.c-menu {
    margin-top: 100px;
    width: 100%;
    max-height: 100%;
    margin-bottom: 20px;
    align-items: center;
}


.c-card {
width: 100%;
height: 100%;
margin-bottom: 20px;
}


.c-card-less {

width: calc(100% /3);
height: 100%;
margin-bottom: 20px;

    
}




.c-title-song {
    display: flex;
    margin-bottom: 20px;

}


/* Container Figli */

.c-taskbar-song {

}


.c-taskbar-player {

}


.c-taskbar-option {

}



/* elementi */

.logo {
    width: 100%;
}


.button-cta {
    width: 20%;
    height: 100%;
}


.ul-sidebar {
    width: 100%;
    padding: 20px;
   
}

.li-sidebar {
    width: 100%;
    color: #5F6268;
}


.ul-menu {
    width: 50%;
}

.li-menu {
    width: 100px;
    color: #5F6268;
}

.song-cover {
    width: 100%;
}

.icon-l {

}

.icon-m {

}

.icon-s {

}



.img-song {
    display: flex;
    width: 100%;
    height: 100%;
    margin-right: 30px;

}


.img-circle {
    border-radius: 50%;
}


/* Colori */

.bg-black {
    background-color: black;
}

.bg-black-t {
    background-color: rgba(0, 0, 0, 0.769);
}

.bg-darkgrey {
    background-color: #282828;
}

.bg-greymain {
    background-color: #141922;
}


.white {
    color: white;
}

.grey {
    color: #5F6268;
}


/* allineamento */

.j-start {
    justify-content: start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}


.t-start {
    text-align: start;
}

.t-center {
    text-align: center;
}

.t-end {
    text-align: end;
}


/* font size */

h1 {
    font-size: 25px;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: small;
}




/* da 768px a 992px */

@media screen and (max-width: 992px) { 



    .s-topbar {
        max-width:992px;
    } 


    .s-taskbar {
        max-width:992px;

    }



    .c-card {
        width: 100%;
        max-height: 100%;
        margin-bottom: 50px;
        flex-wrap: wrap;
        align-items: flex-start;

    }


    .s-main {
        max-width:992px;
       height: 100%;
        padding: 20px;
    }
    
    main {
        display: flex;
        flex-direction: row;
        max-height: 100%;
        max-width:992px;
    
    }



    .c-topbar {
        max-width:992px;
        height: 100px;
        padding: 10px;
     justify-content:end;
    
    }


    .c-menu {
        margin-top: 100px;
        max-width: 100%;
        align-items: center;
        max-height: 200px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }


    .ul-menu {
        max-width: 922px;

    }


    
    .li-menu {
        max-width: 922px;
        color: #5F6268;
        margin-right: 20px;
    }




    .img-song {
        display: flex;
        width: 120px;
        height: 120px;
        margin-right: 10px;

        
       
    }
    




}












