/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Montserrat', sans-serif;
}





/* Funzioni macrostruttura */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}



.flex-item {
    display: flex;
}








/* Section */

.s-topbar {
    width: 100vw;
    height: 80px;
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;

}


.s-taskbar {
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 999;
    justify-content: space-between;

}

.s-sidebar {
    width: 200px;
    max-height: 100%;
}

.s-main {
    width: 100%;

    padding: 20px;
}

main {
    display: flex;
    flex-direction: row;

    max-width: 1400px;

}








/* Container Pincipali */


.c-topbar {
    width: 100vw;

padding: 10px 10px 10px 10px;
 justify-content:end;
 align-items: center;

    

}

.c-taskbar-song {

width: calc(100% / 3);
z-index: 999;
padding: 5px 0px 5px 0px;

}


.c-taskbar-player {

    width: calc(100% / 3);
    z-index: 999;
    padding: 5px 0px 5px 0px;
    justify-content: center;
    
    }


.c-taskbar-option {

    width: calc(100% / 3);
z-index: 999;
padding: 5px 0px 5px 0px;
justify-content: flex-end;

}


    


.c-sidebar {
    width: 200px;
    height: 100%;
    z-index: 2;


}

.c-menu {
    margin-top: 40px;
    width: 100%;

    margin-bottom: 10px;

}


.c-card {
max-width: 1400px;

margin-bottom: 20px;
align-items: flex-start;

}


.c-card-small {
    max-width: calc(100% / 6);
    
    margin-bottom: 20px;
    align-items: flex-start;
    
    }








.c-title-song {
    display: flex;
    margin-bottom: 20px;

}




.c-navbar {

    width: 100%;
    height: 15%;
}


.c-playlist {

    width: 100%;
    height: 45%;
    padding: 20px;
}

.c-plus {
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.i-plus {
    
    display: flex;
    color: black;
padding: 10px;
    background-color: grey;
    margin-right: 10px;
}

/* Container Figli */

.c-taskbar-song {
    display: flex;
    width: calc(100%/3);
}



.c-taskbar-img {
    display: flex;
    width: 35px;
    justify-content: center;
    margin: 0px 15px 0px 5px;
}

.c-taskbar-titolo {
    display: flex;
    width: 80px;
    line-height: 13px;
    justify-content: center;
}


.c-taskbar-like {
    display: flex;
    width: 50px;
    align-items: center;
}

.margin-right {

    margin-right: 10px;
}

.c-taskbar-like {
    color: grey;
}

.c-taskbar-player-option {
    
    color: white;
    width: 150px;
    align-items: center;
    justify-content: space-around;
    
    
}


.c-taskbar-player {
 

   width: calc(100%/3);
   align-items: center;
   justify-content: space-around;
   

}

.c-taskbar-progress {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.c-taskbar-option {
    width: calc(100%/3);
  
    height: 100%;

    
}

.taskbar-icon-option {
   

    width: 250px;
justify-content: space-around;
align-items: center;

    
}


.c-profilo {

    width: 100%;
    height: 50%;
    justify-content: flex-end;
   padding: 0px 20px 90px 20px;
 
}




/* elementi */



.hr-profilo {
    display: flex;
    margin: 10px 0px 10px 0px;
}

.download-app {
width: 100%;
align-items: center;
}

.i-download {
    display: flex;
    width: 20px;
   height:  20px;
   margin-right: 10px;
}


.profilo {
    width: 100%;
    height: 30px;
    align-items: center;
  


}


.img-profilo {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: #5F6268;
    border-radius: 50%;
    margin-right: 10px;
  


}

.icon-side {
    width: 25px;
    margin-right: 5px;
    margin-bottom:5px;
}

.logo {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
}


.button-cta {
    width: 250px;
    height: 50px;
   align-items: center;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.119);
   color: white;
   border-radius: 30px;
   font-weight: bold;
   text-transform: uppercase;
   border: 1px solid white;
}


.button-cta:hover {
    transform: scale(1.05);
}


.ul-sidebar {
    width: 100%;
    margin: 0px 0px 30px 20px;
    height: 30px;


   
}

.li-sidebar {
    width: 100%;
    color: #5F6268;
    font-size: 15px;
    margin-bottom: 15px;


}

.ul-border {
    display: flex;
    color: greenyellow;
    background-color: greenyellow;
    width: 3px;
    height: 30px;

}




.ul-menu {
    width: 100%;
    margin-top: 35px;
    justify-content: center;

}

.li-menu {
    margin-right: 10px;
    margin-left: 10px;
    color: #5F6268;
    font-size: 13px;
text-transform: uppercase;
font-weight: bold;
position: relative;
}





.song-cover {
    width: 100%;
}



.icon-m {
    display: flex;
    width: 30px;
    height: 100%;
    font-size: 30px;

}

.icon-m:hover {
    transform: scale(1.1);


}





.icon-s {
    display: flex;
   width: 15px;
   font-size: 15px;
   margin: 0px 5px 0px 5px;

}


.i-card {
    display: flex;
    max-width: 200px;
padding: 10px;
  
}




.img-song {
    display: flex;
    width: 100%;
    height: 100%;


}


.img-circle {
    border-radius: 50%;
    margin-bottom: 20px;
}

.img-play {
    display: flex;
    width: 40px;
    height: 40px;
} 





.bar-full {
    display: flex;
    width: 20%;
    height: 30%;
    background-color: white;
    border-radius: 10%;
    margin-left: 20px;
    border-style: none;
  
}



.bar-empty {
    display: flex;
        width: 70%;
        height: 30%;
        background-color: gray;
        border-radius: 10%;
        margin-right: 20px;
        border-style: none;
   
}



.bar-small {
 width: 20%;
 height: 5%;

}


.bar-big {
   width: 50%;

   height: 5%;
}

.rotate {
    transform: rotateY(3.142rad);
}












/* Colori */

.bg-black {
    background-color: black;
}

.bg-black-t {
    background-color: rgba(0, 0, 0, 0.769);
}

.bg-darkgrey {
    background-color: #282828;
}

.bg-greymain {
    background-color: #141922;
}


.white {
    color: white;
}

.grey {
    color: #5F6268;
}








/* allineamento */

.j-start {
    justify-content: start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-end {
    align-items: flex-end;
}


.t-start {
    text-align: start;
}

.t-center {
    text-align: center;
}

.t-end {
    text-align: end;
}








/* font size */

h1 {
    font-size: 25px;
}

h2 {
    font-size: medium;
}

h3 {
    font-size: 13px;
}

.song-player {
    font-size: 10px;
}










/* da 768px a 992px */

@media screen and (max-width: 992px) { 



  

    .c-card {
        max-width: 992px;
        flex-wrap: wrap;

        }



    main {
        display: flex;
        flex-direction: row;
        max-width: 992px;
    
    }


    

    


.img-song:hover {
    border: 1px solid red;
}



    




}












